@import './src/css/main.css';
@import './src/css/navbar.css';
@import './src/css/slider.css';
@import './src/css/frame.css';
@import './src/css/cart.css';
@import './src/css/contact.css';
@import './src/css/footer.css';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: lightgray;
   min-height: 100vm;
   overflow-x: hidden;
}

.invisible {
   display:none;
}